
body {
    font-family: Arial
}

 h1{
    text-align: center;
 }

 h2{
    text-align: left;
 }

 h3{
    text-align: center;
 }


 th{
    background-color: lightblue;
 }

 table {
    width: 100%;
  }

  .container {
   display: flex;
   justify-content:center;
   align-items: center;
 }

 p{
   color:darkblue
 }

 .container2 {
  display: flex;
  justify-content: space-between;
 }

 .my-rect {
  fill: purple;
  stroke: aqua;
  stroke-width: 5px;
 }

 .my-rect:hover {
  fill:aqua;
 }

 .my-circle {
  opacity: 50%;
  fill: pink;
 }

 .my-circle:hover {
  stroke: purple;
  stroke-width: 3px;
 }


 
